*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background: #000;
  font-family: "TTFirs-Regular", "Arial", "sans-serif";
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
img {
  max-width: 100%;
  object-fit: contain;
  display: block;
}
input {
  font-family: inherit;
  color: inherit;
  display: block;
  border: none;
}
button {
  outline: none;
  border: none;
}
