*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1;
  font-size: 1.6rem;
  font-family: "Allerta Stencil", sans-serif;
  background-color: #000;
  color: #fff;
}
p {
  line-height: 1.4;
}
ul,
ol,
li {
  list-style: none;
}
a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}
input {
  font-family: inherit;
  color: inherit;
  display: block;
  border: none;
}
button {
  display: block;
  outline: none;
  border: none;
  font-family: inherit;
}
