.team {
    position: fixed;
    background: #000;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    .team-list {
        display: flex;
        margin-top: 100px !important;
        justify-content: center;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;    
        }

        @media (min-width:1200px) {
            .team-list__item {flex-direction: row;}
        }
    }

}