.home {
    width: 100%;
    background: #000;
    
    

    &__container {
        padding: 15px;
        display: flex;
        height: 100vh;
        justify-content: start;
        align-items: center;

        
    }
    

   
}

