.home {
    width: 100%;
    background: #000;
    height: 100vh;
    

    &__service-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    

   
}

