$padding:20px;



.sidebar {
    width: 0;
    height: 100vh !important;
    background: #fff;
    text-align: right;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    transition: width .5s ease;

    .white {color: #fff !important;}
    .black {color: #000 !important;}
    
    
    .header {
       
        .logo {
            width: 66px;
            height: 22.23px;
            position: fixed;
            top: 26.385px;
            left: 20px;
        }
        .menu-link {
            position: fixed;
            top: 20px;
            right: 20px;
            text-transform: uppercase;
            line-height: 35.6px;
            font-size: 20px;
            
            letter-spacing: -0.025em;
            font-family: 
            'TTFirs-ExtraBold','Arial','sans-serif';
        }
        @media (min-width:768px) {
            .logo {
                top: 46.385px;
                left: 40px;
            }
            .menu-link {
                top: 40px;
                right: 40px;
            }
        }
    }

    
}
.sidebar.active {width: 100%;}
