.developer {
  position: relative;

  &:hover &__info {
    transform: translateX(-10px);
  }

  &__info {
    background: #000;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 43px;
    padding: 0 10px;
    transition: transform 3s linear;
    @media (min-width: 768px) {
      top: 32px;
      left: -62px;
      width: 250px;
    }
  }

  &__name {
    text-transform: uppercase;
    letter-spacing: -0.025em;
    font-family: "TTFirs-ExtraBold";
    position: relative;
    font-size: 1.3rem;
    line-height: 2.5rem;

    &::before {
      content: "";
      width: 2.1rem;
      height: 1px;
      background-color: #005504;
      position: absolute;
      top: 50%;
      left: -25px;
    }
  }
  &__profession {
    font-family: "TTFirs-Medium", "Arial", "sans-serif";
    margin-top: -7px;
  }

  &__footer {
    display: flex;
    align-items: center;
    line-height: 100%;
  }
  &__link {
    &--linkedin {
      margin-left: auto;
      margin-right: 5px;
    }
  }
  &__icon {
    transition: transform 0.5s ease;
    &:hover {
      transform: translateY(-5px) scale(1.1);
    }
  }
}
