.service {
  &__title {
    display: inline-block;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -0.025em;
    transition: color 0.5s ease;
    backface-visibility: hidden;
    &::after {
      content: "";
      display: inline-block;
      width: 20px;
      margin-left: 5px;
      transition: transform 0.5s;
      border-bottom: 1px solid green;
      transform-origin: left;
    }
    &:hover {
      cursor: pointer;
      animation: neon 1.5s ease-in-out infinite alternate;
    }
    @media (min-width: 420px) {
      font-size: 35.6px;
    }
  }
  &__text-wrapper {
    overflow: hidden;
    height: 0px;
    transition: height 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &--active &__text-wrapper {
    height: 160px;
    @media only screen and (min-width: 400px) {
      height: 120px;
    }
  }
  &--active &__title {
    animation: neon 1.5s ease-in-out infinite alternate;
  }
  &:hover &__title::after {
    transform: scaleX(1.4);
  }
}
