.home {
  &__shapes {
    position: absolute;
    opacity: 0.4;
    z-index: 2;
    &--show &__sshape {
      transform: scale(1) rotate(360deg);
    }
    &--hidden > * {
      transform: scale(0) rotate(-360deg);
    }
  }
  &__shape {
    position: fixed;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    &--1 {
      width: 300px;
      top: -30px;
      left: -40px;
    }
    &--2 {
      width: 400px;
      top: -30px;
      right: -40px;
    }
    &--3 {
      width: 200px;
      bottom: -15px;
      right: 180px;
    }
    &--4 {
      width: 100px;
      top: 40%;
      left: 320px;
    }
    &--5 {
      width: 100px;
      top: 50%;
      right: 400px;
    }
    &--6 {
      width: 200px;
      top: 12%;
      left: 40%;
    }
  }
  &__service-list {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    max-width: 400px;
    @media (min-width: 768px) {
      left: 55%;
    }
    @media (min-width: 420px) {
      left: 11%;
    }
    @media (min-width: 768px) {
      right: auto;
      margin-left: 30rem;
    }
    @media (min-width: 1200px) {
      margin-left: 0;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    @media only screen and (width: 1024px) and (height: 1366px) {
      margin-left: 35rem;
    }
  }
  &__bg-img {
    width: 32rem;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    background: url("../../img/services-bg.webp") center no-repeat;
    background-size: cover;
    @media only screen and (min-width: 420px) {
      width: 37rem;
      height: 90%;
    }
    @media only screen and (min-width: 768px) {
      height: 78.75%;
      left: 11%;
      transform: translateX(0);
    }
    @media only screen and (min-width: 1200px) {
      width: 26.5%;
    }
  }
}
