* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.42;
  background: #000;
  font-family: "TTFirs-Regular", "Arial", "sans-serif";
}
body::-webkit-scrollbar {
  width: 0;
}

img {
  max-width: 100%;
  object-fit: contain;
}
ul,
ol {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
