.developer {
    position: relative;
    width: 270px;
    margin-bottom: 10px;
    


    @media (min-width:420px) {
        width: 330px;
    }
    @media (min-width:580px) {
        width: 400px;
    }
    @media (min-width:768px) {
        width: 500px;
    }
    

    
    .img:hover ~ .info {
        transform: translateX(-10px);
    }



    .info {
        background: #000;
        color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        height: 43px;
        bottom: 10px;
        padding: 0 10px;
        color: #fff;
        position: absolute;
        background: #000;
        transition: transform 3s linear;

        @media (min-width:768px) {
            top: 32px;
            left: -62px;
            right: auto;
            width: auto;
            footer {column-gap: 30px;}
        }


        .name {
            text-transform: uppercase;
            letter-spacing: -0.025em;
            font-family: 'TTFirs-Black';
            position: relative;
            font-size: 13px;
            line-height: 25px;
        }
        .name:after {
            content: "";
            width: 23px;
            height: 1px;
            background-color: #005504;
            position: absolute;
            top: 50%;
            left: -25px;
        }

        footer {
            display: flex;
            justify-content: space-between;
            .icon {
                color: #fff;
                transition: transform .5s ease;
            }
            .icon:hover {transform: translateY(-5px) scale(1.1);}
            .email {padding: 0 5px 0 10px;}
        }
    }

    
}