.developer {
    position: relative;
    margin-bottom: 10px;
    .info {
        background: #000;
        color: #fff;
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        height: 43px;
        padding: 0 10px;
        color: #fff;
        background: #000;
        transition: transform 3s linear;
        @media (min-width:768px) {
            top: 32px;
            left: -62px;
            width: 250px;
        }
        .name {
            text-transform: uppercase;
            letter-spacing: -0.025em;
            font-family: 'TTFirs-ExtraBold';
            position: relative;
            font-size: 13px;
            line-height: 25px;
            &::before{
                content: "";
                width: 21px;
                height: 1px;
                background-color: #005504;
                position: absolute;
                top: 50%;
                left: -25px;
            }
        } 
        footer {
            display: flex;
            justify-content: space-between;
            .profession {
                font-family: 'TTFirs-Medium','Arial','sans-serif';
                margin-top: -7px;
            }
            .icon {
                color: #fff;
                transition: transform .5s ease;
            }
            .icon:hover {transform: translateY(-5px) scale(1.1);}
            .email {padding: 0 5px 0 10px;}
        }
    }
}
.developer:hover > .info {
    transform: translateX(-10px);
}
